<style>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 2px solid grey;
}

th {
    text-align: left;
}

caption {
    background-color: grey;
    
    color: white;
}
</style>

<h1><%=@store.name%>  Inventory </h1>
<p><a href='/logout'> Logout </a></p>

<a href='/items/new'> Add New Item </a>

<table>
   <caption> Inventory </caption>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Count</th>
    </tr>
    <% @items.each do |item| %>
        
        <tr>
            <td><a href='/items/<%=item.id%>'><%= item.name %></a></td>
            <td>$<%=item.price%></td>
            <td><%=item.count%></td>
        </tr>
    <% end %>
    
</table>

<a href='/items/new'> Add New Item </a>




