<style>
.link{
    background-color: silver;
    width: 10%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
h1 {
    background-color: grey;
    
}

th, td {
    padding: 15px;
    border: 2px solid grey;
}

th {
    text-align: left;
}

caption {
    background-color: grey;
    
    color: white;
}
</style>

<h1><%=@store.name%>  Inventory </h1>
<p class= 'link'><a href='/logout'> Logout </a></p>

<p class = 'link'><a href='/items/new'> Add New Item </a></p>

<table>
   <caption> Inventory </caption>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Count</th>
    </tr>
    <% @items.each_with_index do |item, index| %>
        
        <tr>
            <td><%=index +1%>. <a href='/items/<%=item.id%>'><%= item.name.capitalize %></a></td>
            <td>$<%=item.price%></td>
            <td><%=item.count%></td>
        </tr>
    <% end %>
    
</table>

<p class= 'link'><a href='/items/new'> Add New Item </a></p>




