<h1><%=@store.name%>  Inventory </h1>
<p><a href='/logout'> Logout </a></p>

<a href='/items/new'> Add New Item </a>

<% @items.each do |item| %>
    <h2><a href='/items/<%=item.id%>'><%= item.name %></a></h2>
    <p>Price: $<%=item.price%> | Count: <%=item.count%></p>   
    
<% end %>

<a href='/items/new'> Add New Item </a>